.App {
  text-align: center;
  margin-top: 3rem;
  background-color: #3A3765;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card{
    padding-top: 2em;
    width: 100%;
    margin: auto;
    height: 100%;
}

.card:hover{
    opacity: 20;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  background-color: #3A3765;
}

.jumbotron{
    position: relative;
    top: 0;
    left: 0;
}

.topPic{
    position: relative;
    top: 0;
    left: 0;
    z-index: -4;
}
